numpy==1.24.4
numpy==1.24.2
numpy==1.17.4
py3rosmsgs==1.18.2
PyKDL==1.4.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
pytorch_kinematics==0.6.1
PyYAML==6.0.1
PyYAML==6.0.1
roslib==1.15.8
rosparam==1.16.0
rospkg==1.5.0
rospkg_modules==1.5.0
rospy==1.16.0
sensor_msgs==1.13.1
tf==1.13.2
urdfdom_py==0.4.6
